:root {
  --ff-san-serif: 'Poppins', sans-serif;

  --fs-bold: 2em ;

  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* removes the arrows in input field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-color: var(--light-grey);
  font-family: var(--ff-san-serif);
}

.wrapper {
  width: 500px ;
  height: 350px;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px 10px 150px 10px;
}

p {
  color: var(--light-red);
}

#label-d,
#label-m,
#label-y, {
  color: var(--smokey-grey);
}

/* Error red above text */

.red-d,
.red-m,
.red-y  {
  color: var(--light-red);
}

.red-d,
.red-m,
.red-y {
  display: none;
}


h1 > span {
  color: var(--purple);
}

h1 {
  font-size: var(--fs-bold);
  /* line-height: 1em; */
}

input {
  width: 100px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  border-color: var(--light-grey);
  cursor: pointer;
}

p {
  font-size: 0.75rem;
}

button {
  border-radius: 50%;
  background-color: var(--off-black);
  padding: 8px;
  cursor: pointer;
  width: 80px;
}

button:focus {
  background-color: var(--purple);
}

.input-field {
  display: inline-flex;
}

input:focus {
  border: 3px solid var(--purple);
}

input {
  font-size: 1.5rem;
  font-weight: 800;
}

.input-section {
  display: inline-block;
  margin: 10px;
}

hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
}

/* This field is required */
.error {
  display: none;
}

.red {
  color: var(--light-red);
}
